@model IEnumerable<ProjectCourse.Models.Plan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @TempData["Message"]
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Microcycle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkoutTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Microcycle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkoutTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlanID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlanID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlanID }) |
            @Html.ActionLink("Wokrout list", "../WorkoutPlans") |
            @Html.ActionLink("1 RM list",  "../C1RM") 
        </td>
    </tr>
}

</table>
