@model ProjectCourse.Models.WorkoutMuscle

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkoutMuscle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimMover)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimMover)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Synergist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Synergist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stabilizer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stabilizer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lengthening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lengthening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Workout.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Workout.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Muscle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Muscle.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
