@model IEnumerable<ProjectCourse.Models.WorkoutPlan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td></td>
        @for (var j = 0; j < ViewBag.WeeksCount; j++)
        {
            <td>
                Week @(j+1)
            </td>
        }
    </tr>
    @{ var i = 0;}
    <tr>
        @foreach (var item in Model)
        {
            if (i == 0)
            {
                <td>@Html.DisplayFor(modelItem => item.Workout.Name)</td>
            }
            if (i < ViewBag.WeeksCount)
            {
                <td>
                    <table>
                        <tr>
                            <td style="border-width: 0">
                                @Html.DisplayFor(modelItem => item.WorkoutPlanWeight)
                            </td>
                            <td rowspan="2" style="border-width: 0; vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.WorkoutPlanSet)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Repetition)
                            </td>
                        </tr>
                    </table>                     
                </td>

            }
            if (++i == ViewBag.WeeksCount)
            {
                @:</tr><tr>
                i = 0;
            }
        }
    </tr>
        

        @*<tr>
            <td>
                @Html.DisplayFor(modelItem => item.Repetition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutPlanSet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rest)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutPlanWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workout.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkoutPlanID }) |
                @Html.ActionLink("Details", "Details", new { id = item.WorkoutPlanID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkoutPlanID })
            </td>
        </tr>*@
    

</table>
